<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizensousek.aytserver.mapper.AuthMapper">
    <select id="findByUsername" resultType="com.aizensousek.aytserver.domain.auth.UserDetail">
        SELECT ID, NAME, PASSWORD
        FROM SYS_USER
        WHERE NAME = #{name};
    </select>

    <insert id="insert" parameterType="com.aizensousek.aytserver.domain.auth.UserDetail" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO SYS_USER (NAME, PASSWORD)
        VALUES (#{username}, #{password});
    </insert>

    <insert id="insertRole">
        INSERT INTO SYS_USER_ROLE (USER_ID, ROLE_ID)
        VALUES (#{userId}, #{roleId});
    </insert>

    <select id="findRoleById" resultType="com.aizensousek.aytserver.domain.auth.Role">
        SELECT ID, NAME, NAMEZH, BE_SYSTEM
        FROM SYS_ROLE
        WHERE ID = #{roleid}
    </select>

    <select id="findRoleByUserId" resultType="com.aizensousek.aytserver.domain.auth.Role">
        SELECT *
        FROM SYS_ROLE
        WHERE ID IN (SELECT ROLE_ID FROM SYS_USER_ROLE WHERE USER_ID = #{userId});
    </select>
</mapper>